:root {
    --bg-theme-accent: linear-gradient(90deg, #bc646a 0%, #97262e 100%);
    --bg-theme: linear-gradient(163deg, #f9f7f8 0%, #cf9fa0 45%, #ab585a 100%);
    --color-theme: #7f1f28;
    --color-theme-accent: #97262e;
}

.bg-theme-accent {
    background: var(--bg-theme-accent);
}

.bg-theme {
    background: var(--bg-theme);
}

.text-theme {
    color: var(--color-theme);
}

.text-theme-accent {
    color: var(--color-theme-accent);
}
